<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="commonProvider" type="CommonProvider.Configuration.ProviderConfigSection, CommonProvider"/>
  </configSections>

  <commonProvider>

    <!--Setup object types here-->
    <types>
      <add name="NexmoProvider" type="CommonProvider.Example.Lib.Providers.NexmoSmsProvider, CommonProvider.Example.Lib"/>
      <add name="TwilioProvider" type="CommonProvider.Example.Lib.Providers.TwilioSmsProvider, CommonProvider.Example.Lib"/>
      <add name="PipeDelimitedDataParser" type="CommonProvider.Data.PipeDelimitedDataParser, CommonProvider"/>
    </types>

    <settings dataParserType="PipeDelimitedDataParser">
      <add key="Message" value="sender:007|text:Hello World!!!|phoneNumbers:1010101010,2020202020,3030303030"/>
    </settings>

    <!--Setup providers here-->
    <providers>

      <provider name="Nexmo" enabled="true" type="NexmoProvider" group="">

        <settings>
          <add key="Endpoint" value="http://www.nexmo.test/sendsms"/>
          <add key="ApiKey" value="54321"/>
        </settings>

      </provider>

      <provider name="Twilio" enabled="true" type="TwilioProvider" group="">

        <settings>
          <add key="Endpoint" value="http://www.twilio.test/sendsms"/>
          <add key="ApiKey" value="98765"/>
        </settings>

      </provider>

    </providers>

  </commonProvider>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
